@import url('https://fonts.googleapis.com/css?family=Raleway:400, 700');

* {
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Raleway', sans-serif;


}

h1 {
	font-weight: 400;
	font-stretch: 4rem;
	color: white;
	background: #ff4411;
	padding: 300px 0px 50px 100px;
	margin-bottom: 150px;
	letter-spacing: .5rem;
}

p {
	width: 30%;
	margin: 0 auto 300px auto;
	font-size: 1.4rem;
	color: #555;
	font-weight: 300;

}
